flows.json
[
    {
        "id": "d44db3b4d176ad4c",
        "type": "tab",
        "label": "Flow 9",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "530e8b3f68fcdaae",
        "type": "mqtt in",
        "z": "d44db3b4d176ad4c",
        "name": "",
        "topic": "projetoMonitoramento/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0b1e8f79349ee984",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "e1ccbabbfb4dc227",
                "2c535c1c503660bb"
            ]
        ]
    },
    {
        "id": "e1ccbabbfb4dc227",
        "type": "debug",
        "z": "d44db3b4d176ad4c",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "792adc966704b4ab",
        "type": "influxdb out",
        "z": "d44db3b4d176ad4c",
        "influxdb": "83593e8ddc70bd69",
        "name": "",
        "measurement": "Temperatura",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "00fe8c6b889f0cef",
        "bucket": "projeto",
        "x": 520,
        "y": 240,
        "wires": []
    },
    {
        "id": "2c535c1c503660bb",
        "type": "function",
        "z": "d44db3b4d176ad4c",
        "name": "function 5",
        "func": "// Função para analisar a temperatura e gerar a mensagem\nconst LIMITE_TEMPERATURA = 40; // Limite de temperatura\n\n// Extrair a temperatura do payload\nlet temperatura = parseFloat(msg.payload);\n\n// Enviar para o InfluxDB\nlet influxMsg = {\n    measurement: \"temperatura\",\n    fields: { valor: temperatura },\n    tags: { sensor: \"sensor_temperatura\" }\n};\n\n// Mensagem de alerta\nlet alertMsg = null;\nif (temperatura > LIMITE_TEMPERATURA) {\n    alertMsg = { payload: `ALERTA: Temperatura muito alta! Possível incêndio. Valor: ${temperatura}°C.` };\n} else {\n    alertMsg = { payload: `Temperatura: ${temperatura}°C. Tudo normal.` };\n}\n\n// Retornar as mensagens\nreturn [alertMsg, influxMsg];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "792adc966704b4ab",
                "1d506ccf09043c61",
                "1d8f08a7e996d3f0"
            ]
        ]
    },
    {
        "id": "1d506ccf09043c61",
        "type": "debug",
        "z": "d44db3b4d176ad4c",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 320,
        "wires": []
    },
    {
        "id": "1d8f08a7e996d3f0",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "d44db3b4d176ad4c",
        "name": "",
        "credtype": "account",
        "account": "34a144c072e89891",
        "text": "payload",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 500,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "0b1e8f79349ee984",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "83593e8ddc70bd69",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Projeto",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "34a144c072e89891",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "WhatsApp API Account"
    }
]